@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    font-family: "Josefin Sans", sans-serif;
    outline: none;
}


body{
    background-color: #121323;
    color: white;
}

input{
    background: transparent;
}


.scroll::-webkit-scrollbar {
	width: 7px;
	background-color:transparent;
   
}

.scroll::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color:purple;
}